@import "mixin";
@import "vars";

.header {
  margin-top: 30px;
  padding: 0 calc(50% - 590px);
}

.title_main {
  display: block;
  text-align: center;

  @include titleMain;

  border-bottom: 1px solid #1a1a1a;
}

.menu {
  border-bottom: 1px solid #1a1a1a;
  padding-bottom: 30px;
  display: flex;
  justify-content: flex-end;

  &__list {
    display: flex;
    flex-direction: row;
    gap: 14px;

    &-item {
      display: inline-block;
    }

    &-link {
      @include font-link;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
