@import "mixin";
@import "vars";

.subscribe-box {
  padding: 0 calc(50% - 590px);
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.form {
  display: flex;
  gap: 8px;

  &__input {
    @include input;

    ::placeholder {
      color: $grey;

      @include paragraph-font;
    }
  }

  &__button {
    text-align: center;
    color: $white;
    padding: 12px 20px;

    @include button;
  }
}

.subheading {
  text-align: center;
  color: $purple;

  @include subheading__font;
}

.subscribe__heading {
  color: $black;
  text-align: center;

  @include subscribe__heading;
}

.subscribe__text {
  text-align: center;
  color: $grey;

  @include subscribe__text-font;
}

.privacy__text {
  color: $darkgrey;

  @include privacy__text-font;
}
