@import "mixin";
@import "vars";

.sectionHeading {
  padding: 0 calc(50% - 590px);

  margin-top: 30px;
  margin-bottom: 32px;
}

.recentPosts-box {
  padding: 0 calc(50% - 590px);
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.allPosts-box {
  padding: 0 calc(50% - 590px);

  display: flex;
  flex-wrap: wrap;
  column-gap: 32px;
  row-gap: 48px;
}

.postCard {
  width: 370px;
  display: flex;
  flex-direction: column;

  &__recent-info {
    display: flex;
  }

  &__img {
    max-width: 100%;
  }
  &__author {
    color: $purple;
    padding-top: 32px;
  }
  &__heading {
    @include font-link;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  &__text {
    color: $grey;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

//   &__info {
//     display: block;
//     flex-direction: column;
//     margin-left: 24px;

//     &-author {
//       color: $purple;
//     }

//     &-heading {
//       @include font-link;
//       font-size: 18px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 28px;
//       padding-top: 12px;
//       padding-bottom: 8px;
//     }

//     &-text {
//       color: $grey;
//     }

//     &-item {
//       gap: 12px;
//     }
//   }

//

// .containerBlogPosts {
//   padding: 0 calc(50% - 590px);

//   // padding: 1.5em 5em;

//   display: flex;

//   justify-content: space-between;

//   // gap: 32px;
//   flex-wrap: wrap;
//   max-width: 100%;
// }

// .columnRecent {
//   width: 45%;
//   display: flex;
//   flex-direction: column;
//   gap: 30px;
// }

// .postCardBig {
//   display: flex;
//   flex-direction: column;
//   &__info {
//     display: block;
//     margin-top: 32px;
//   }
// }

// .postCard {
//   display: flex;
//   &__img {
//     margin-right: 24px;
//   }
//   &__info {
//     display: block;
//     flex-direction: column;
//     margin-left: 24px;

//     &-author {
//       color: $purple;
//     }

//     &-heading {
//       @include font-link;
//       font-size: 18px;
//       font-style: normal;
//       font-weight: 600;
//       line-height: 28px;
//       padding-top: 12px;
//       padding-bottom: 8px;
//     }

//     &-text {
//       color: $grey;
//     }

//     &-item {
//       gap: 12px;
//     }
//   }
// }

//

// .section-main {
//   display: flex;
// }

// .column-right {
//   display: block;
//   width: 25%;
// }

// .item {
//   // padding: 20px;
//   font-size: 20px;
//   line-height: 30px;
// }

// .columns {
//   margin: 0 auto;
//   width: 100%;
//   max-width: 1600px;
// }

// .left-text {
//   padding: 15px 10px 30px;
// }

// .section-main {
//   padding: 20px 40px 20px 20px;
// }

// .header-section-main {
//   // padding-bottom: 40px;
//   font-size: 30px;
// }
