.header {
  padding: 1.5em 5em;
  margin-bottom: 30px;
}

.title_main {
  display: block;
  text-align: center;
  font-size: 243.8px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  align-self: center;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #1a1a1a;
}

.menu {
  margin-bottom: 30px;
  display: flex;
  justify-content: flex-end;
}

.menu__list {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.menu__list-item {
  display: inline-block;
}

.menu__list-link {
  color: #1a1a1a;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.menu__list-link:hover {
  text-decoration: underline;
}
